/* create roster */
body {
    background-color: antiquewhite;
}

.container-content {
    background-color: #FFF;
    min-height: 100%;
}

.roster {

}

.roster-time {
    margin-bottom: 12px;
}

.roster-time .roster-time-line {
    margin-top: 12px;
    font-size: 25px;
    font-weight: bold;
}

.roster-time .roster-time-description {
    font-size: 15px;
    font-style: italic;
}

.roster-action .btn-submit {
    margin-top: 15px;
}

a {
    color: #fff;
}

a:hover {
    color: #c2c0c0;
}

a:visited {
    color: #fff;
}

.roster-time .title {
    font-size: 20px;
    font-weight: 600;
}

/* login */
.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}