
/****************** color ******************/
$white: #FFFFFF;
$dark-white: #fafbfc;
$light-gray: #dee2e6;
$gray: #6c757d;
$dark-gray: #606060;
$accent: #03AFC2;
$green: #3ac47d;
$orange: #f15927;
$light-orange: rgba(#f15927, .8);
$yellow: #FEC519;
$lighter-blue: #e0f3ff ;
$light-blue: #16aaff;
$blue: #16aaff;
$dark-blue: #3f6ad8;
$black: #000000;
$light-black: #495057;
$lighter-black: rgba(0, 0, 0, 0.03);
$danger: #dc3545;
$light-danger: #fcd1d1;
$success: #28a745;
$light-success: #d6f8b8;
$warning: #ffc107;
$light-warning: #fffecb;
$dark: #343a40;
$light-dark: #F2F1EF;
$header-height: 3.7rem;
$footer-height: 3rem;
$card-body-padding: 1.25rem;
