@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=vietnamese');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

$ff-roboto: 'Roboto', sans-serif;
$ff-charm: 'Charm', sans-serif;

$fw-s: 300;
$fw-n: 400;
$fw-m: 500;
$fw-b: 600;

$fs-s: 0.8rem;
$fs-n: 0.9rem;
$fs-m: 1rem;
$fs-l: 1.2rem;
$fs-xl: 1.5rem;
$fs-xxl: 1.8rem;