html {
    font-size: 16px;
}

body {
    font-family: $ff-roboto;
    font-size: $fs-n;
    color: $gray;
    background-color: $light-gray;
}

a {
    &, &:focus, &:hover {
        text-decoration: none;
    }
}

ul {
    margin-bottom: 0;
    padding: 0;
}

li {
    list-style: none;
}

table {
    font-size: $fs-n;
}

.site-main {
    padding-top: calc(2rem + #{$header-height});
    padding-bottom: calc(2rem + #{$footer-height});
}

.form-control {
    font-size: $fs-n;
}

@include media(tablet--lg, desktop, desktop--lg) {
    .container {
        max-width: 960px;
    }
}

@include media(desktop) {
    .container {
        max-width: 1100px;
    }
}

@include media(desktop--lg) {
    .container {
        max-width: 1400px;
    }
}