.card {
    @include card-shadow();
    width: 100%;

    &-header {
        display: flex;
        align-items: center;
        background-color: transparent;
        color: $light-black;
        font-size: $fs-l;

        &__icon {
            margin-right: 0.8rem;
            img {
                height: 1.5rem;
                width: auto;
            }

            @include media(mobile--sm, mobile) {
                margin-bottom: 0.5rem;
                align-self: flex-start;
            }
        }
        &__action {
            @include flex($jc: flex-end);
            flex: 1;
        }

        @include media(mobile--sm, mobile) {
            flex-direction: column;
        }
    }
    &-text {
        font-size: $fs-s ;
    }
    &-desc {
        font-size: $fs-n;
    }
    &-footer {
        background-color: transparent;
        border-bottom: 1px solid $light-gray;

        .btn {
            min-width: 8rem;
        }
    }
    &-body {
        padding: 1rem $card-body-padding;
    }
}