footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $dark-white;
    font-size: 0.9rem;
    color: $gray;
    min-height: 3rem;

    .row {
        justify-content: center;
        align-items: center;
        height: $footer-height;
    }
}